# Dependencies
node_modules/

# Build
dist/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*
!.env.example
